<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.myapp2.repository.BoardRepository">
	<select id="boardList" resultType="com.shop.myapp2.dto.BoardDTO">
		select * from board
	</select>
	<select id="boardDetail" resultType="com.shop.myapp2.dto.BoardDTO">
		select * from board where bno=#{bno}
	</select>
	<insert id="boardInsert">
		insert into board(title, content, author, visited) values (#{title}, #{content}, 'admin',  0)
	</insert>
</mapper>