<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>로그인 페이지</title>
  <th:block th:include="fragments/common/head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
  
  	<!-- navbar -->
	<th:block th:include="fragments/common/navbar"></th:block>
	
  	<!-- sidebar -->
	<th:block th:include="fragments/common/sidebar"></th:block>
	
    <h1>로그아웃 처리되었습니다.</h1>
    <hr>
    <a th:href="@{'/'}">메인으로 이동</a>
	
  	<!-- footer -->
	<th:block th:include="fragments/common/footer"></th:block>
	
	<th:block th:include="fragments/common/script"></th:block>
	
  </div>
</body>
</html>