<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>로그인 페이지</title>
  <th:block th:include="fragments/common/head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
  
  	<!-- navbar -->
	<th:block th:include="fragments/common/navbar"></th:block>
	
  	<!-- sidebar -->
	<th:block th:include="fragments/common/sidebar"></th:block>
	
    <form th:action="@{/user/signup}" method="post">
        <input type="text" name="email" placeholder="이메일 입력해주세요">
        <input type="password" name="password" placeholder="비밀번호">
        <button type="submit">가입하기</button>
    </form>
	
  	<!-- footer -->
	<th:block th:include="fragments/common/footer"></th:block>
	
	<th:block th:include="fragments/common/script"></th:block>
	
  </div>
</body>
</html>